body.page-template-page-front {

	.hentry {
		border-bottom: 				none;
		margin-bottom: 				0;
	}

	.front-page-sections {
		h1, h2, h3, h4, h5, h6 {
			font-weight: 			700;
		}
	}

	.front-page-section {
		padding-top: 				60px;
		padding-bottom: 			40px;
		background-repeat: 			no-repeat;
		-webkit-background-size: 	cover;
		-moz-background-size: 		cover;
		-o-background-size: 		cover;
		background-size: 			cover;
	}

	.front-page-section-1 {
		background-color: 			#e2e2e2;
		padding-top: 				60px;
		padding-bottom: 			40px;
		color:						$primary-color;
		@include 					font-size(18);

		h1, h2, h3, h4, h5, h6 {
			color:					$primary-color;
		}

		h2 {
			font-size: 				44px;
		}
	}

	.front-page-section-3 {
		background-color: 			#f7f7f7;
	}

}


@media (min-width: $medium-screen) {
	body.page-template-page-front {

		.front-page-section {
			padding-top: 				100px;
			padding-bottom: 			80px;
		}

		.front-page-section-1 {
			padding-top: 				150px;
			padding-bottom: 			130px;

			h2 {
				font-size: 				54px;
			}
		}

	}
}
